h1.title {
	text-align: center;
	font-size: 400%;
	font-style: oblique;
	font-family: Arial,Verdana,Sans-serif;
}

div.table {
	text-align: center;
	font-size: 175%;
	font-style: italic;
	font-family: "Times New Roman",Georgia,Serif;
}

.tab { border:#f00;}
.tab td { border:solid 1px #f00}